# Project specific settings
py_api_diff_tool.ini
py_api_diff_tool.log
# external libraries with their own version management
lib/adafruit_*
# Pytest cache directory
.pytest_cache/
# Bytecode cache files
__pycache__/
*.py[cod]  # Includes .pyc, .pyo, and .pyd files
# tool configuration files
.pylintrc
